/* Para que no salga la barra gris*/
:root {

  background-color: #e0e7f1;
}
/* Contenedor principal de la vista */
.profile-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  place-items: center; /* Centra en ambas direcciones */
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Barra de navegación lateral */
.navbar_perfil {
  width: 300px;
  margin-left: 2%;
  text-align: left;
}

.navbar_perfil ul {
  list-style-type: none;
}

.navbar_perfil li {
  margin: 30px 0;
  padding-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;

}

.navbar_perfil a {
  text-decoration: none;
  color: hsl(28, 86%, 47%);
  font-size: 20px;
}

.navbar_perfil h2 {
  color: brown;
  padding-left: 10%;
}

.navbar_perfil a:hover {
  color: rgb(219, 180, 36);
}

.navbar_perfil li.active {
  font-weight: bold;
  border-bottom: 2px solid #c014eb;
}

/* Contenido de la información del usuario */
.profile-content {
  width: 50%;
}

.edit-form input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dobby-img {
  width: 100px;
  height: auto;
  animation: maldad 3s infinite ease-in-out;
  margin-top: 80px;
  display: block;
  margin: 0 auto;
}

@keyframes maldad {
  0% { transform: scale(1) rotate(0deg); }
  20% { transform: scale(1.05) rotate(-1deg); }
  40% { transform: scale(1.1) rotate(1deg); }
  60% { transform: scale(1.05) rotate(-1deg); }
  80% { transform: scale(1.08) rotate(0.5deg); }
  100% { transform: scale(1) rotate(0deg); }
}