.mainApp {
    height: 100%;
}



.main-vista-producto {
    background-color: #e0e7f1;
    padding: 4rem 1rem 1rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detalle-producto-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    margin: 5rem 2rem 2rem 2rem;
    background-color: #423773;
    border-radius: 1rem;
    width: 80%;
}

.mostrador-producto-seccion {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalle-seccion {
    border-radius: 0.75rem;
    max-width: 28rem;
    margin: 0 3rem 2rem 2rem;
    text-align: center;
}

.detalle-seccion h2 {
    font-size: 3.3rem;
    color: #e5dcdc;
    margin-bottom: 0.625rem;
}


.detalle-seccion-descripcion {
    font-size: 1.5rem;
    color: #bfbdf1;
    background-color: #5e519f;
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 0.625rem;
}



.contenedor-detalle-seccion {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.detalle-seccion-precio {
    font-size: 2.5rem;
    color: #e6e5f8;
    background-color: #c96655;
    padding: 0.5rem 3rem;
    border-radius: 0.75rem;
    margin: 1rem;
}

.detalle-seccion button {
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 1rem;
}

.detalle-seccion button:hover {
    background-color: #0056b3;
}





.detalle-resena-seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 2rem 2rem 2rem;
    background-color: #8271fb;
    border-radius: 1rem;

}


.titulo-detalle-resena {
    font-size: 2em;
    color: #F2F2F2;
    margin: 7rem 1rem 2rem 2rem;
}





.valoracion-seccion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}





.vitrina-resena {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.resena {
    background-color: #212426;
    border: 2px solid #463859;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem; /* Centrado y con margen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Cinzel', serif;
    color: #F2F2F2;
    width: 30rem; /* Ancho m谩ximo para que no ocupe toda la p谩gina */
}

.resena header h3 {
    font-size: 1.5em;
    color: #D9663D;
    margin-bottom: 5px;
}

.resena header p {
    font-size: 0.9em;
    color: #95BF3B;
    margin-bottom: 10px;
}

.resena .contenido {
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #212426; /* Texto oscuro sobre fondo claro */
}

.resena .contenido p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

.resena footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resena .utilidad {
    display: flex;
    align-items: center;
}

.resena .utilidad button {
    background-color: #D9663D;
    border: none;
    color: #F2F2F2;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: background-color 0.3s ease;
}

.resena .utilidad button:hover {
    background-color: #D97941;
}

.resena .utilidad p {
    margin: 0 5px;
    font-size: 1em;
    color: #F2F2F2;
}

.resena .calificacion {
    font-size: 1.2em;
    color: #95BF3B;
}






/*ANIMACIONES*/

/*ANIMACIN HUEVOIRROMPIBLE*/

@keyframes caerYRebotar {
    0% {
        transform: translateY(-100px) rotate(0deg);
    }
    50% {
        transform: translateY(0) rotate(360deg);
    }
    60% {
        transform: translateY(-30px) rotate(360deg);
    }
    70% {
        transform: translateY(0) rotate(360deg);
    }
    80% {
        transform: translateY(-15px) rotate(360deg);
    }
    100% {
        transform: translateY(0) rotate(360deg);
    }
}


@keyframes brillar {
    0% {

        filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.5));
    }
    50% {

        filter: drop-shadow(0 0 20px rgba(255, 215, 0, 1)) drop-shadow(0 0 40px rgba(255, 215, 0, 0.7));
    }
    100% {

        filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.5));
    }
}



#huevoirrompible {
    animation: caerYRebotar 2s ease-in-out forwards; /* Solo se ejecuta una vez */
    transition: filter 0.5s ease;
    filter: drop-shadow(0 0 1rem rgba(255, 215, 0, 0.5));
}

#huevoirrompible:hover {
    filter: drop-shadow(0 0 7rem rgba(255, 215, 0, 1)) drop-shadow(0 0 3rem rgba(255, 237, 145, 0.7));
}








/* Animaci贸n principal: explosi贸n */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-7px); filter: brightness(0.7); /* Valor "aleatorio" dentro del rango */
    }
    20% {
        transform: translateX(12px); /* Valor "aleatorio" dentro del rango */
    }
    30% {
        transform: translateX(-15px); filter: brightness(1); /* Valor "aleatorio" dentro del rango */
    }
    40% {
        transform: translateX(9px); /* Valor "aleatorio" dentro del rango */
    }
    50% {
        transform: translateX(0); filter: brightness(1.5);  /* Valor "aleatorio" dentro del rango */;
    }
    60% {
        transform: translateX(-10px); filter: brightness(0.8); /* Valor "aleatorio" dentro del rango */
    }
    70% {
        transform: translateX(8px); /* Valor "aleatorio" dentro del rango */
    }
    80% {
        transform: translateX(-13px); /* Valor "aleatorio" dentro del rango */
    }
    90% {
        transform: translateX(6px); /* Valor "aleatorio" dentro del rango */
    }
}

@keyframes grow {
    0% { transform: scale(1); filter: brightness(1.3);}
    100% { transform: scale(1.5); filter: brightness(1.5)}
}

@keyframes explode {
    0% { transform: scale(1.3); opacity: 1; filter: brightness(3)}
    100% { transform: scale(3); opacity: 0; filter: brightness(0)}

}

#bombaarcanaoscura {
    transition: all 0.3s ease-in-out;
    animation: shake 2s ease-in-out infinite;
}

#bombaarcanaoscura:hover {
    animation: shake 0.5s ease-in-out, grow 0.5s 0.5s ease-in-out, explode 1s 1s;

}

/* ----------------------------------------------------------------------------------*/
/*Animaci贸n varita*/

/* CSS */
#varitamagicafake {
    animation: float-animation 2s infinite ease-in-out;
    filter: drop-shadow(0 0 6rem rgb(94, 0, 255)) drop-shadow(0 0 5rem rgba(225, 132, 253, 0.7)) drop-shadow(0 0 4rem rgba(255, 255, 255, 0.8)) brightness(1.7);
}



/* Pseudo-elemento para el brillo m谩gico */
#varitamagicafake:hover {

    animation: glow-animation 2s infinite ease-in-out, rotate-animation 1.3s infinite; /* A帽adimos la animaci贸n de rotaci贸n */
    filter: drop-shadow(0 0 6rem rgb(236, 212, 64)) drop-shadow(0 0 5rem rgba(197, 191, 107, 0.7)) drop-shadow(0 0 4rem rgba(255, 255, 255, 0.8)) brightness(1.7);


}

/* Animaci贸n del brillo */
@keyframes glow-animation {
    0% {

        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.8);
    }
}

/* Animaci贸n de flotaci贸n */
@keyframes float-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
}

/* Animaci贸n de rotaci贸n */
@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*-------------------------------------------------------------------------*/
/*Animacion Poci贸n de Amor*/

#pociondeamor {
    animation: palpitar 1.5s infinite ease-in-out;
    filter: drop-shadow(0 0 3rem rgba(255, 105, 180, 0.8));
}

/* Efecto de palpitaci贸n */
@keyframes palpitar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*-------------------------------------------------------------------------*/
/*Animacion Elixir Removedor de Acn茅*/

#elixirremovedordeacne {
    animation: brillo 1s ease-in-out infinite;
    filter: drop-shadow(0 0 20px rgb(96, 173, 175)) drop-shadow(0 0 5px rgba(114, 173, 228, 0.5));
}

#elixirremovedordeacne:hover {
    animation: shake-diagonal 1s ease-in-out;
  }


@keyframes shake-diagonal {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    10% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    20% {
      transform: translate(10px, -10px) rotate(5deg);
    }
    30% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    40% {
      transform: translate(10px, -10px) rotate(5deg);
    }
    50% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    60% {
      transform: translate(10px, -10px) rotate(5deg);
    }
    70% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    80% {
      transform: translate(10px, -10px) rotate(5deg);
    }
    90% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }

/*-------------------------------*/
/*Animacion WildFire*/

#wildfirewhizz-bangs {
    animation: shake 1.5s ease-in-out infinite;
}

#wildfirewhizz-bangs:hover {
    animation: explode 1s ease-out forwards;
}

/* Movimiento vibrante para simular energ铆a m谩gica */
@keyframes shake {
    0%, 100% {filter: brightness(1.1); transform: rotate(0deg) translate(0, 0); }
    25% {filter: brightness(1.5); transform: rotate(2deg) translate(1px, -1px); }
    50% {filter: brightness(1.1); transform: rotate(-2deg) translate(-1px, 1px); }
    75% {filter: brightness(1.5); transform: rotate(2deg) translate(1px, -1px); }
}

/* Peque帽as explosiones de chispas */
@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
        filter: brightness(3) blur(0);
    }

    100% {
        transform: scale(3);
        opacity: 0;
        filter: brightness(1.7) blur(2px);
    }
}


/*-------------------------------*/
/*Animacion Pastillas Vomitivas*/

#pastillasvomitivas {
    animation: vomitoEffect 2s infinite alternate ease-in-out,
    colorEffect 2s infinite alternate ease-in-out;
    transform-origin: bottom; /* Hace que la expansi贸n sea hacia arriba */
    filter: drop-shadow(0 0 3rem rgba(13, 208, 97, 0.5));
}

@keyframes vomitoEffect {
    0% {
        filter: hue-rotate(0deg) brightness(1);
        transform: scaleY(1);
    }
    50% {
        filter: hue-rotate(45deg) brightness(1.5);
        transform: scale3d(1.2, 1.2, 1.2);
    }

    100% {
        filter: hue-rotate(90deg) brightness(1.2);
        transform: scaleY(0.7); /* Aumenta la altura en un 20% */
    }
}



@keyframes colorEffect {
    0% {
        filter: hue-rotate(0deg) brightness(1) drop-shadow(0 0 3rem rgba(13, 208, 97, 0.5));
    }
    50% {
        filter: hue-rotate(45deg) brightness(1.5) drop-shadow(0 0 4rem rgba(13, 208, 97, 0.7));
    }
    100% {
        filter: hue-rotate(90deg) brightness(1.2) drop-shadow(0 0 5rem rgba(13, 208, 97, 1));
    }
}

/*-------------------------------*/
/*Animacion Guantes*/


@keyframes activarPoder {
    0% {
        filter: drop-shadow(0 0 5px rgba(0, 162, 255, 0.6));
        transform: scale(1);
    }
    50% {
        filter: drop-shadow(0 0 15px rgba(0, 162, 255, 0.8));
        transform: scale(1.1);
    }
    100% {
        filter: drop-shadow(0 0 25px rgba(0, 162, 255, 1));
        transform: scale(1.05) rotate(5deg);
    }
}

@keyframes girar180 {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(20deg);
        filter: drop-shadow(0 0 2rem rgb(86, 191, 250)) brightness(1.01)
    }
    20% {
        transform: rotate(-30deg);
        filter: drop-shadow(0 0 1rem rgb(163, 220, 255)) brightness(1.05)

    }

    40% {
        transform: rotate(40deg);
        filter: drop-shadow(0 0 3rem rgb(94, 193, 255)) brightness(1.1)

    }

    60% {
        transform: rotate(-40deg);
        filter: drop-shadow(0 0 1rem rgb(214, 241, 255)) brightness(1.15)
    }

    70% {
        transform: rotate(40deg);
        filter: drop-shadow(0 0 1rem rgb(86, 194, 253)) brightness(1.15)
    }

    80% {
        filter: drop-shadow(0 0 2rem rgb(163, 220, 255)) brightness(1.2)
    }

    100% {
        transform: rotate(-180deg) scale(1.2);
        filter: drop-shadow(0 0 4rem rgba(0, 162, 255, 0.7)) brightness(1.3);
    }

}
#guantesescudo {
    animation: activarPoder 2s infinite alternate ease-in-out;
    transform-origin: center;
    transition: transform 0.5s ease-out, filter 0.5s ease-out;
    will-change: filter, transform;
}



/*  Efecto al hacer hover */
#guantesescudo:hover{

    animation: girar180 2.7s ease-in-out forwards; /* Detiene la animaci贸n y mantiene el efecto */
}

