.navbar {
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}



.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-item {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: #007bff;
}

.navbar-item a {
    margin: 1rem;
}

.active{
    color: #0a1b2e;
}

