


.vista-seccion {
    display: flex;
}

.ordenar-precio {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

.elemento-ordenar {
    margin: 1rem;
}

.vitrina-producto{
    display: flex;
    flex-wrap: wrap;
}